<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
   <style>
        p {
            font-size: 1em;
        } 
        body {
            font-family: "Noto Serif JP";
          
        }
    </style>

<p>2014年8月20日、広島市[ひろしまし]でとてもたくさん雨が降って、多くの場所[ばしょ]で山が崩[くず]れました。山から土や石<span class="tti" dt="～や～など = liste non-exhaustive. 'a, b, etc.'"></span>など</span>が流[なが]れて来て、家が壊[こわ]れました。この災害[さいがい]で77人が亡[な]くなりました。</p>

<p>広島市では10年の<span class="tti" dt="~間に : Sur une durée de ~">間に</span>、山から流れて来る土などを止める<span class="tti" dt="Ici, ダム est qualifié par tout ce qui est avant à partir de '山から'">ダム</span>が30の場所に<span class="tti" dt="Ici, できる signifie 'Construire'.">できました</span>。雨の水を地下[ちか]に入れる設備[せつび]もできました。</p>

<p>10年前に被害[ひなん]が<span class="tti" dt="Avec 被害, 出る signifie 'Avoir lieu/Se produire'." >出た</span>所には、新しい家がたくさんできました。NHKが調[しら]べる<span class="tti" dt="Particule du conditionnel. 'QUAND NHK a fait des recherches'">と</span>、ダムがあるので大丈夫だと考えて、引っ越して来た人がいました。</p>

<p>専門家[せんもんか]は「ダムがあっても、災害[かさい]が起こる可能性[かのうせい]があります。雨がたくさん降るときは、安全[あんぜん]な所に避難[ひなん]してください」と話しています。</p>

<p>>広島県は、危険[きけん]な所に住む人がいなくなる<span class="tti" dt="~ようにする : Faire en sorte que ~">ようにしたい</span>と考えています。</p>


<style>
    .tti {
      position: relative;
      cursor: pointer;
      
      text-decoration: underline;
      color:rgb(28, 122, 156);
    }
    
    .tti::after {
      content: attr(dt);
      position: absolute;
      background-color: #333;
      color: #fff;
      font-size: 0.8em;
      padding: 5px;
      border-radius: 5px;
      top: 100%; /* Position below the text */
      left: 50%;
     word-wrap: break-word;
      white-space: normal;
      display: none;
      z-index: 10;
      min-width: 250px;
      max-width: 500px;
    }
    
    .ttis::after {
        min-width: auto;
        max-width: none;
    }
    
    .tti:hover::after {
      display: block;
    }
    </style>
    
    
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tiny-segmenter@0.2.0/dist/tiny-segmenter-0.2.0.min.js" charset="UTF-8"></script>
    <script>
            document.addEventListener("DOMContentLoaded", function () {
                const walker = document.createTreeWalker(document.body, NodeFilter.SHOW_TEXT,   {
                    acceptNode: function (node) {
                    return node.parentNode.nodeName != "SCRIPT" ? NodeFilter.FILTER_ACCEPT:NodeFilter.FILTER_SKIP;
                    },
                },false);
    
                let node;
                const textNodes = [];
                while (node = walker.nextNode()) {
                    textNodes.push(node);
                    console.log(node.nodeValue);   
                }
    
                const segmenter = new TinySegmenter();   
                for(const node of textNodes)
                {
                    const segs = segmenter.segment(node.nodeValue);
                    console.log((segs.join(" | ")));
                    const newText = segs.reduce((acc, curr, i, arr) => {
                        const prev_token = (i > 0) ? arr[i-1]:"";
                        if(curr == '[')
                        {
                            acc += `<ruby>${prev_token}<rt>`;
                        }
                        else if(prev_token == '[')
                        {
                            /* We do nothing */
                        } 
                        else if(curr == ']')
                        {
                            acc += `${prev_token}</rt></ruby>`;
                        }
                        else if(i == arr.length - 1){
                            acc += ((prev_token!=']')?prev_token:"") + curr ;
                        } 
                        else {
                            acc += ((prev_token!=']')?prev_token:"");
                        }
                        return acc;
    
                    }, "");
    
                    if(newText != node.nodeValue)
                    {
                        let span = document.createElement('span');
                        span.innerHTML = newText;
    
                        node.parentNode.replaceChild(span, node);
                    }
                }
            });
    </script>
