<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
   <style>
        p {
            font-size: 1.1em;
        } 
        body {
            font-family: "Noto Serif JP";
          
        }
    </style>

<img src="https://pbs.twimg.com/media/GVbmCKHaMAEbtaN?format=jpg&name=4096x4096" alt="Page 1" style="width:auto; height:550px;">

<a href="https://dokusha.io/share/df01db05254c8994072163916d4d69bf202d49ea4b13dd211227682f182dc5e2/1409-tian-shi-tojie-jin-zhong">Lecture en ligne</a>

<h3>Page 1-3:</h3>
<p>断言[だんげん]できる。人生<span class="tti" dt="Sert à donner une définition à qqc d'universel avec EMOTION , ici 'la vie'.">というモノは</span>予想[よそう]ができない</p>
<p>・・・<span class="tti" dt="Sert à donner une définition.">といのは</span>大きな間違いだ<span class="tti" dt="Ce と renvoie au verbe de la première bulle, 断言できる. 'Je peux affirmer que...'">と</span></p>
<p style="color:red;">(lit.) « Je peux affirmer que "la vie est imprévisible" est une grande erreur.»</p>

<h3>Page 4:</h3>
<p>川の対岸[たいがん]に鹿[しか]が鎮座[ちんざ]していると、<span class="tti" dt="春 s'utilise aussi pour dire 'l'amour est dans l'air', c'est le cas ici.">春[はる]だ</span>*<span class="tti" dt="Particule finale utilisée pour exprimer son opinion/ses sentiments. S'utilise souvent quand on se parle à soi-même">なぁ</span>と感じる。</p>
<p><span class="tti" dt="'Une telle (ville)/Une (ville) comme ce qui a été décrit précédemment...'.">そんな</span>町[まち]に僕[ぼく]の天使[てんし]が戻っ<span class="tti" dt="～てくる, 'Faire ～ et revenir au point de départ'">てきた</span>！</p>

<h3>Page 5:</h3>
<p>同級[どうきゅう]生[せい]だった<span class="tti" dt="Apporte une explication ou renforce qqc avec émotion">のだ</span>！！！</p>

<h3>Page 6:</h3>
<p>お前　何ニヤつい<span class="tti" dt="Qd un verbe fini par ～る et qu'il est suivi de の, il change de prononciation à l'oral : るの -> んの">てん</span>*<span class="tti" dt="C'est pour poser une question, comme か (plus doux/plus oral).">の</span>？</p>
<p><span class="tti" dt="'C'est vraiment très ~'. Par exemple, よくぞ言った 'C'est vraiment très bien dit !')">よくぞ</span>聞い<span class="tti" dt="～てくれる s'utilise quand qqn fait qqc pour nous. Ici, ça fait plaisir au locuteur qu'on lui pose la question.">てくれた</span></p>
<p>興味[きょうみ]<span class="tti" dt="Equivaut à ない à l'oral.">ねー</span>よ</p>

<h3>Page 7:</h3>
<p>彼女[かのじょ]がここ 引っ越[ひっこ]し<span class="tti" dt="～ていく Faire ~ et s'en aller.">ていく*</span><span class="tti" dt="Contraction de 小学４年生. 4è année de primaire.">小４</span>まで<span class="tti" dt="しか～ない 'Ne que...'/'Seulement'.">しか</span>関[かか]わりがない。</p>
<p>一方[いっぽう]的[てき]に喋[しゃべ]り<span class="tti" dt="V + まくる : Faire V sans s'arrêter et comme un fou. (connotation négative)">まくる</span>図[ず]</p>
<p>まさか再び[ふたたび]出会[であ]える<span class="tti" dt="Le なんて, ICI, apporte la nuance suivante « Qu'une telle chose se produise est (incroyable/fantastique). »">なんて</span>．．．</p>

<h3>Page 9:</h3>
<p>好きな食べ物<span class="tti" dt="って est le plus souvent la contraction de と ou de は. Ici, c'est は.">って</span>なんですか？</p>

<h3>Page 10:</h3>
<p>バ．．．バーニャカウダ<span class="tti" dt="とか = etc.">とか</span>*<span class="tti" dt="かな　exprime le doute. 'Je me demande...'/'Je suis pas sûr, mais...'.">かな</span>．．．？</p>

<h3>Page 16</h3>
<p>好きな食べ物<span class="tti" dt="Forme potentiel de 聞く (ici, 'Demander') = 'Pouvoir demander'.">聞けた</span>・・・！！</p>


<h3>Page 17:</h3>
<p>一歩[いっぽ]前進[ぜんしん]した<span class="tti" dt="Contraction de じゃないか. 'Pas vrai ?/N'est-ce pas ?'">じゃん</span>！</p>
<p>きっきき．．．緊張[きんちょう]し<span class="tti" dt="Verbe + すぎる = 'Trop V'.">すぎて</span>危なかった</p>

<h3>Page 22</h3>
<p>想い人[おもいびと] に囲<span class="tti" dt="Le verbe 囲う est conjugué au passif + forme ている.">われている</span>こと<span class="tti" dt="Ce に renvoie au verbe de la page 21 : 気が付く, 'Remarquer'.">に</span>。</p>
<p style="color:red;"> (lit.) « Il n'a pas encore remarqué que la fille qu'il aimait l'encercle. »</p>

<p>On se retrouve dans quelques jours pour le chapitre 2 !</p>

<style>
.tti {
  position: relative;
  cursor: pointer;
  
  text-decoration: underline;
  color:rgb(28, 122, 156);
}

.tti::after {
  content: attr(dt);
  position: absolute;
  background-color: #333;
  color: #fff;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  top: 100%; /* Position below the text */
  left: 50%;
 word-wrap: break-word;
  white-space: normal;
  display: none;
  z-index: 10;
  min-width: 250px;
  max-width: 500px;
}

.ttis::after {
    min-width: auto;
    max-width: none;
}

.tti:hover::after {
  display: block;
}
</style>



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tiny-segmenter@0.2.0/dist/tiny-segmenter-0.2.0.min.js" charset="UTF-8"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            const walker = document.createTreeWalker(document.body, NodeFilter.SHOW_TEXT,   {
                acceptNode: function (node) {
                return node.parentNode.nodeName != "SCRIPT" ? NodeFilter.FILTER_ACCEPT:NodeFilter.FILTER_SKIP;
                },
            },false);

            let node;
            const textNodes = [];
            while (node = walker.nextNode()) {
                textNodes.push(node);
                console.log(node.nodeValue);   
            }

            const segmenter = new TinySegmenter();   
            for(const node of textNodes)
            {
                const segs = segmenter.segment(node.nodeValue);
                console.log((segs.join(" | ")));
                const newText = segs.reduce((acc, curr, i, arr) => {
                    const prev_token = (i > 0) ? arr[i-1]:"";
                    if(curr == '[')
                    {
                        acc += `<ruby>${prev_token}<rt>`;
                    }
                    else if(prev_token == '[')
                    {
                        /* We do nothing */
                    } 
                    else if(curr == ']')
                    {
                        acc += `${prev_token}</rt></ruby>`;
                    }
                    else if(i == arr.length - 1){
                        acc += ((prev_token!=']')?prev_token:"") + curr ;
                    } 
                    else {
                        acc += ((prev_token!=']')?prev_token:"");
                    }
                    return acc;

                }, "");

                if(newText != node.nodeValue)
                {
                    let span = document.createElement('span');
                    span.innerHTML = newText;

                    node.parentNode.replaceChild(span, node);
                }
            }
        });
</script>
