<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
   <style>
        p {
            font-size: 1.1em;
        } 
        body {
            font-family: "Noto Serif JP";
          
        }
    </style>

<p>今日<span class="tti" dt="Particule de thème et d'emphase. Emphase = 'Aujourd'hui (et pas un autre jour)'.">は</span>友達<span class="tti" dt="Particule d'accompagnement. 'Avec qqn'.">と</span>買い物<span class="tti" dt="Particule de ciblage. Avec un verbe de déplacement, indique la direction.">に</span>行きました。朝9時<span class="tti" dt="Particule de ciblage temporel absolu. Ne s'utilise qu'avec des heures, jours, mois précis. Ne s'utilise pas pour ce qui est relatif comme 'demain', 'le mois précédent', 'l'année prochaine', etc.">に</span>、駅<span class="tti" dt="Particule du lieu d'action. Ici, 'on se RENCONTRE(action) A la gare'.">で</span>友達と会いました。</p>
<p>私は友達<span class="tti" dt="Particule de ciblage. 'à qqn'.">に</span>「切符[きっぷ]<span class="tti ttis" dt="Particule de COD.">を</span>買う<span class="tti" dt="Particule de raison. AからB = 'Vu que A, B'.">から</span>、待ってください。」<span class="tti" dt="Particule de citation. S'utilise avec les verbes de paroles.">と</span>言いました。</p>
<p>友達は「スイカを<span class="tti" dt="(Conjugaison) もつ -> もって -> もっている -> もっていない. (Contraction) A l'oral, on saute le 1er い de ～ていない, et ～ている. -> もってない">持ってない</span><span class="tti" dt="Contraction de の. Demande d'explication.">ん</span>ですか？」と聞きました。私は「スイカはおいしいですけど、今日はありません。どうしてですか？」と聞きました。</p>
<p>友達は「スイカはこれです。カード<span class="tti" dt="Particule de qualification. AのB = 'Le B de A' où A apporte une info supplémentaire sur B. Ici, 'Ticket sous forme de carte'.">の</span>切符[きっぷ]です。」と言<span class="tti" dt="(Conjugaison) Forme en て. Ici, signifie 'Verbe 1, PUIS Verbe 2'.">って</span>、スイカを見せました。私は果物<span class="tti" dt="Particule de qualification. Donc, littéralement 'histoire de fruits', mais c'est plutôt 'parler de fruits.'.">の</span>話だと思いましたから、恥[は]ずかしかったです。</p>
<p>私<span class="tti" dt="Particule de similitude. Ici = 'Aussi'.">も</span>駅でスイカを買って、スイカ<span class="tti" dt="Particule de moyen. 'AVEC la carte Suika'.">で</span>電車に乗りました。</p>
<p>スイカはとても便利[べんり]です。</p>

<a href="https://j-nihongo.com/n5level_suica/">Source</a>

<style>
.tti {
  position: relative;
  cursor: pointer;
  
  text-decoration: underline;
  color:rgb(28, 122, 156);
}

.tti::after {
  content: attr(dt);
  position: absolute;
  background-color: #333;
  color: #fff;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  top: 100%; /* Position below the text */
  left: 50%;
 word-wrap: break-word;
  white-space: normal;
  display: none;
  z-index: 10;
  min-width: 250px;
  max-width: 500px;
}

.ttis::after {
    min-width: auto;
    max-width: none;
}

.tti:hover::after {
  display: block;
}
</style>



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tiny-segmenter@0.2.0/dist/tiny-segmenter-0.2.0.min.js" charset="UTF-8"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            const walker = document.createTreeWalker(document.body, NodeFilter.SHOW_TEXT,   {
                acceptNode: function (node) {
                return node.parentNode.nodeName != "SCRIPT" ? NodeFilter.FILTER_ACCEPT:NodeFilter.FILTER_SKIP;
                },
            },false);

            let node;
            const textNodes = [];
            while (node = walker.nextNode()) {
                textNodes.push(node);
                console.log(node.nodeValue);   
            }

            const segmenter = new TinySegmenter();   
            for(const node of textNodes)
            {
                const segs = segmenter.segment(node.nodeValue);
                console.log((segs.join(" | ")));
                const newText = segs.reduce((acc, curr, i, arr) => {
                    const prev_token = (i > 0) ? arr[i-1]:"";
                    if(curr == '[')
                    {
                        acc += `<ruby>${prev_token}<rt>`;
                    }
                    else if(prev_token == '[')
                    {
                        /* We do nothing */
                    } 
                    else if(curr == ']')
                    {
                        acc += `${prev_token}</rt></ruby>`;
                    }
                    else if(i == arr.length - 1){
                        acc += ((prev_token!=']')?prev_token:"") + curr ;
                    } 
                    else {
                        acc += ((prev_token!=']')?prev_token:"");
                    }
                    return acc;

                }, "");

                if(newText != node.nodeValue)
                {
                    let span = document.createElement('span');
                    span.innerHTML = newText;

                    node.parentNode.replaceChild(span, node);
                }
            }
        });
</script>
