
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
   <style>
    p {
            font-size: 1.1em;
            line-height: 1.5;
        } 
    body {
            font-family: "Noto Serif JP";
          
        }
    h4 {
    border-left-width: 4px;
    border-style: solid;
    margin-bottom: 1.25rem;
    margin-top: 10.5rem;
    --tw-border-opacity: 1;
    border-color: rgb(19 29 42 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(59 69 82 / var(--tw-bg-opacity));
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    padding-top: 0.25rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
    h3 {
 border-left-width: 4px;
 border-top-width: 0px;
 border-bottom-width: 0px;
 border-right-width: 0px;
  border-style: solid;
  margin-bottom: 1rem;
  margin-top: 1rem;
  --tw-border-opacity: 1;
  border-color: rgb(191, 219, 11/var(--tw-border-opacity));
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-left: .5rem;
  text-decoration: underline;
}
.spoiler{
    background-color: rgb(212, 212, 212);
    color: transparent;
    user-select: none;
  }
  
  .spoiler:hover{
    background-color: inherit;
    color: inherit;
  }

  .block {
  --color: #FFFF00;
  --background: #292f4056;
  color: var(--color);
  background: var(--background);
  margin: 2em 0 1em 0;
  backdrop-filter: blur(8px);
  text-align: justify;
  font-size: 1em;
  border-radius: 8px;
  padding: 5px;
  }
    </style>


<h4>～ようだ１: <b style="color: #FFFF00;">Il semblerait que</b> (haut degrée de certitude)</h4>
<p>・今年[ことし]の夏[なつ]は暑[あつ]い<u style="color: red;">ようだ</u>。 彼[かれ]は英語[えいご]が苦手[にがて]な<u style="color: red;">ようだ</u>。</p> 
<span class="spoiler"><i>« Il semblerait que cet été sera chaud. Il semblerait qu'il soit mauvais en anglais. »</i></span>
<h3>Souvent précédé de 「<u style="color: green;">どうやら</u>」</h3>
<p>・<u style="color:green;">どうやら</u>雨もやんだ<u style="color: red;">ようだ</u>。</p>
<span class="spoiler"><i>« Il semblerait que la pluie a cessé.»</i></span>

<h4>～ようだ２ : <b style="color: #FFFF00;">être similaire à</b></h4>
<h3>Différentes formes existes :「～のよう<b style="color: red;">に</b>＋V./Adj.」et 「～のよう<b style="color: red;">な</b>＋Nom」</h3>
<p>・ 夢の<u style="color: red;">ようだ</u>。犬や猫の<u style="color: red;">ような</u>動物[どうぶつ]。猿[さる]の<u style="color: red;">ように</u>木[き]をのぼる。</p>
<span class="spoiler"><i>« C'était comme un rêve. Un animal similaire à un chien ou un chat. Grimper un arbre comme un singe. »</i></span>
<h3>Souvent précédé de 「<u style="color: green;">まるで</u>」 pour accentuer le sentiment de similitude</h3>
<p>・<u style="color:green;">まるで</u>夢[ゆめ]の<u style="color: red;">ようだ</u></p>
<span class="spoiler"><i>« C'était (exactement) comme un rêve.»</i></span>

<h4>Ⅴない・Ⅴ Potentiel＋ように : <b style="color: #FFFF00;">But</b></h4>
<h3>Contrairement à ようだ２, ce <u style="color: red;">ように</u> ne devient pas <u style="color: green;">ような</u> devant un nom.</h3>
<p>・授業に遅[おく]れない<u style="color: red;">ように</u>、急[いそ]いだ。</p> 
<span class="spoiler"><i>« Je me suis pressé afin de ne pas arriver en retard pour le cours. »</i></span> 
<p>・読める<u style="color: red;">ように</u>、字[じ]を奇麗[きれい]に書[か]いてください。</p>
<span class="spoiler"><i>Ecrivez lisiblement afin qu'on puisse vous lire. </i></span>
<p>・病気が治る<u style="color: red;">ように</u>、薬[くすり]を飲[の]んだ。</p>
<span class="spoiler"><i>« J'ai pris des médicaments afin de me soigner. »</i></span>

<h4>Ⅴ Potentiel＋ようになる : <b style="color: #FFFF00;">Devenir Capable</b></h4>
<p>・日本語が話[はな]せる<u style="color: red;">ようになった</u>。</p> 
<span class="spoiler"><i>« (lit.) Je suis devenu capable de parler japonais.</i></span>
<p>・メガネをかければ、黒板[こくばん]の字[じ]が見[み]える<u style="color: red;">ようになる</u>。</p>
<span class="spoiler"><i>« (lit.) Quand je mets mes lunettes, je deviens capable de lire ce qu'il y a écrit sur le tableau. »</i></span>

<h4>Ⅴ＋よう(に) : <b style="color: #FFFF00;">Ordre léger</b>（しないさい・してください ou お願いします）</h4>
<h3>Souvent, le verbe qui est à droite de ように est omis (2è et 3è phrase)</h3>
<p>・わすれ物をしない<u style="color: red;">ように</u>してください。集合時間は守る<u style="color: red;">ように</u>。授業中はおしゃべりしない<u style="color: red;">ように</u>。</p>
<span class="spoiler"><i>« N'oubliez rien derrière vous. Nous vous prions d'arriver à temps. Ne discutez pas en cours. »</i></span>
 
<h4>Ⅴ＋よう(に) : <b style="color: #FFFF00;">Prière</b>（祈る・願う・望む）</h4>
<h3>Souvent, le verbe qui est à droite de ように est omis (2è phrase)</h3>
<p>・お母さんの病気[びょうき]が早[はや]く治[なお]ります<u style="color: red;">ように</u>、と祈[いの]りました。明日[あした]は雨[あめ]が降[ふ]りません<u style="color: red;">ように</u>。</p>
<span class="spoiler"><i>« J'ai prié pour que ma mère guérisse vite. J'espère qu'il ne pleuvera pas demain. »</i></span>

<h3>Parfois accompagné de <u style="color:green;">どうか</u></h3>
<p>・<u style="color:green;">どうか</u>無事[ぶじ]に着[つ]きます<u style="color: red;">ように</u></p>
<span class="spoiler"><i>« J'espère (vraiment) qu'il arrivera sain et sauf. »</i></span>

<h4>Ⅴ＋よう(に) : <b style="color: #FFFF00;">Citation indirecte d'un ordre</b>（言う・伝[つた]える）</h4>
<p>・すぐ家に帰[かえ]る<u style="color: red;">ように</u>言[い]われました。</p> <span class="spoiler"><i>« On m'a dit de rentrer immédiatement chez moi. »</i></span> 
<p>・戻[もど]りましたら、家[いえ]に電話[でんわ]する<u style="color: red;">ように</u>お伝[つた]えください。</p> 
<span class="spoiler">On m'a dit d'appeler chez lui dès qu'il sera rentré. »</i></span>
<h3><u style="color: red;">Différence avec le と de citation</u></h3>
<p>・「すぐ帰[かえ]れ」<u style="color: red;">と</u>言[い]った。= <b style="color: red;">Citation directe.</b></p>
 <span class="spoiler"><i>« Il m'a dit "RENTRE MAINTENANT !". »</i></span> 
 <p>・すぐ家に帰[かえ]る<u style="color: red;">ように</u>言[い]われました。 = <b style="color: red;">Citation indirecte.</b></p> 
<span class="spoiler"><i>« Il m'a dit de rentrer maintenant. »</i></span>


<br>
<hr>
<p><u>Référence</u> : 『日本語文型辞典』『日本語表現文型辞典』</p>

<style>
.tti {
  position: relative;
  cursor: pointer;
  
  text-decoration: underline;
  color:rgb(28, 122, 156);
}

.tti::after {
  content: attr(dt);
  position: absolute;
  background-color: #333;
  color: #fff;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  top: 100%; /* Position below the text */
  left: 50%;
 word-wrap: break-word;
  white-space: normal;
  display: none;
  z-index: 10;
  min-width: 250px;
  max-width: 500px;
}

.ttis::after {
    min-width: auto;
    max-width: none;
}

.tti:hover::after {
  display: block;
}
</style>



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tiny-segmenter@0.2.0/dist/tiny-segmenter-0.2.0.min.js" charset="UTF-8"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            const walker = document.createTreeWalker(document.body, NodeFilter.SHOW_TEXT,   {
                acceptNode: function (node) {
                return node.parentNode.nodeName != "SCRIPT" ? NodeFilter.FILTER_ACCEPT:NodeFilter.FILTER_SKIP;
                },
            },false);

            let node;
            const textNodes = [];
            while (node = walker.nextNode()) {
                textNodes.push(node);
                console.log(node.nodeValue);   
            }

            const segmenter = new TinySegmenter();   
            for(const node of textNodes)
            {
                const segs = segmenter.segment(node.nodeValue);
                console.log((segs.join(" | ")));
                const newText = segs.reduce((acc, curr, i, arr) => {
                    const prev_token = (i > 0) ? arr[i-1]:"";
                    if(curr == '[')
                    {
                        acc += `<ruby>${prev_token}<rt>`;
                    }
                    else if(prev_token == '[')
                    {
                        /* We do nothing */
                    } 
                    else if(curr == ']')
                    {
                        acc += `${prev_token}</rt></ruby>`;
                    }
                    else if(i == arr.length - 1){
                        acc += ((prev_token!=']')?prev_token:"") + curr ;
                    } 
                    else {
                        acc += ((prev_token!=']')?prev_token:"");
                    }
                    return acc;

                }, "");

                if(newText != node.nodeValue)
                {
                    let span = document.createElement('span');
                    span.innerHTML = newText;

                    node.parentNode.replaceChild(span, node);
                }
            }
        });
</script>
