
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
   <style>
        p {
            font-size: 1.1em;
            line-height: 1.5;
        } 
        body {
            font-family: "Noto Serif JP";
          
        }
    </style>
<h1>洗濯[せんたく]をしました</h1>

<img src="https://www.irasutoya.com/2018/06/blog-post_38.html" alt="Pluie" style="width: auto; height: 300px;">


<p>昨日[きのう]は雨[あめ]<span class="tti" dt="です au passé. 'C'était/(il) était...'">でした</span>。</p>
<p>朝[あさ]<span class="tti" dt="A から B まで : De A à B.">から夜[よる]まで</span>、雨[あめ]が降[ふ]りました。</p>
<p><span class="tti" dt="C'est pourquoi...">だから</span>、洗濯[せんたく]を<span class="tti" dt="します au passé négatif POLI">しませんでした</span>。</p>
<p>でも、今日[きょう]<span class="tti" dt="Particule du contraste. Aujourd'hui oui (MAIS PAS hier)">は</span>いい天気[てんき]でした。</p>
<p>雲[くも]が<span class="tti" dt="あります au passé négatif POLI.">ありませんでした</span>。</p>
<p>だから、洗濯[せんたく]をしました。</p>
<p>Tシャツを洗[あら]いました。</p>
<p>とてもいい日[ひ]でした。</p>


<br>
<a href="https://j-nihongo.com/n5level_sentakuwo_shimashita/">Source</a>

<style>
.tti {
  position: relative;
  cursor: pointer;
  
  text-decoration: underline;
  color:rgb(28, 122, 156);
}

.tti::after {
  content: attr(dt);
  position: absolute;
  background-color: #333;
  color: #fff;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  top: 100%; /* Position below the text */
  left: 50%;
 word-wrap: break-word;
  white-space: normal;
  display: none;
  z-index: 10;
  min-width: 250px;
  max-width: 500px;
}

.ttis::after {
    min-width: auto;
    max-width: none;
}

.tti:hover::after {
  display: block;
}
</style>



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tiny-segmenter@0.2.0/dist/tiny-segmenter-0.2.0.min.js" charset="UTF-8"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            const walker = document.createTreeWalker(document.body, NodeFilter.SHOW_TEXT,   {
                acceptNode: function (node) {
                return node.parentNode.nodeName != "SCRIPT" ? NodeFilter.FILTER_ACCEPT:NodeFilter.FILTER_SKIP;
                },
            },false);

            let node;
            const textNodes = [];
            while (node = walker.nextNode()) {
                textNodes.push(node);
                console.log(node.nodeValue);   
            }

            const segmenter = new TinySegmenter();   
            for(const node of textNodes)
            {
                const segs = segmenter.segment(node.nodeValue);
                console.log((segs.join(" | ")));
                const newText = segs.reduce((acc, curr, i, arr) => {
                    const prev_token = (i > 0) ? arr[i-1]:"";
                    if(curr == '[')
                    {
                        acc += `<ruby>${prev_token}<rt>`;
                    }
                    else if(prev_token == '[')
                    {
                        /* We do nothing */
                    } 
                    else if(curr == ']')
                    {
                        acc += `${prev_token}</rt></ruby>`;
                    }
                    else if(i == arr.length - 1){
                        acc += ((prev_token!=']')?prev_token:"") + curr ;
                    } 
                    else {
                        acc += ((prev_token!=']')?prev_token:"");
                    }
                    return acc;

                }, "");

                if(newText != node.nodeValue)
                {
                    let span = document.createElement('span');
                    span.innerHTML = newText;

                    node.parentNode.replaceChild(span, node);
                }
            }
        });
</script>
