<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
   <style>
        p {
            font-size: 1.1em;
        } 
        body {
            font-family: "Noto Serif JP";
          
        }
    </style>
<h1>9月<span class="tti" dt="から＋も = 'Aussi à partir de...'">からも</span>暑い日が続き<span class="tti" dt="Verbe en forme Renyô (=forme ます sans le ます) + そう : Semble V. 'Semble continuer')">そう</span>「熱中[ねっちゅう]症[しょう]に気をつけて」</h1>
<br>
<img src="https://www3.nhk.or.jp/news/html/20240820/K10014553661_2408201614_0820161933_01_02.jpg" alt="NHK News" style="width: auto; height: 300px;">
<p>気象[きしょう]庁[ちょう]は20日、9月から11月までの天気<span class="tti" dt="A propos de...">について</span>発表[はっぴょう]しました。日本に暖[あたた]かい空気[くうき]が入り<span class="tti" dt="Verbe en forme Renyô + やすい = 'être facile à V'.">やすく</span>なる<span class="tti" dt="Parce que">ため</span>、気温[きおん]は日本[にほん]中[じゅう]<span class="tti" dt="Particule du lieu d'action. On l'utilise ici à cause de です.">で</span>いつもの年<span class="tti" dt="AよりB = B est + que A.">より</span>高くなり<span class="tti" dt="Pareil que dans le titre, 'SEMBLE augmenter...'.">そう</span>です。太平洋[たいへいよう]側[がわ]では雨も多くなりそうです。</p>

<p>気象[きしょう]庁[ちょう]は「暑[あつ]い日が続いて、秋になるのが遅[おそ]くなりそうです。熱中[ねちゅう]症[しょう]に気をつけてください」<span class="tti" dt="と de citation. S'utilise avec des verbes de parole.">と</span>言っています。</p>
    
<p>東京[とうきょう]都[と]の23区[く]では、6月から8月18日までに222人が熱中[ねっちゅう]症[しょう]<span class="tti" dt="Particule de cause. 'A cause de'.">で</span>亡[な]くなった<span class="tti" dt="と de citation">と</span><span class="tti" dt="考える (réfléchir) conjugué au passif. Il signifie 'On considère que...' et décrit une info OBJECTIVE.">考えられています</span>。この中の96%は建物[けんぶつ]や家の中で亡[な]くなりました。ほとんどの人はエアコンを使っていなかった<span class="tti" dt="Ou alors">か</span>、エアコンがない部屋[へや]にいました。</p>
    
<p>専門[せんもん]家[か]は「熱中[ねちゅう]症[しょう]にならない<span class="tti" dt="Afin de/Afin que...">ために</span>は、エアコンを使うことがいちばんいいです。水をよく飲む<span class="tti" dt="Verbe + こと = 'Le fait de V'.Transforme un verbe en nom.">こと</span>、食事<span class="tti" dt="Particule du moyen. « Obtenir des nutriments GRACE A la nourriture. »">で</span>栄養[えいよう]をとること、十分に寝ることも大切です」と言っています。</p>

<a href="https://www3.nhk.or.jp/news/easy/k10014553661000/k10014553661000.html">Source</a>

<style>
.tti {
  position: relative;
  cursor: pointer;
  
  text-decoration: underline;
  color:rgb(28, 122, 156);
}

.tti::after {
  content: attr(dt);
  position: absolute;
  background-color: #333;
  color: #fff;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  top: 100%; /* Position below the text */
  left: 50%;
 word-wrap: break-word;
  white-space: normal;
  display: none;
  z-index: 10;
  min-width: 250px;
  max-width: 500px;
}

.ttis::after {
    min-width: auto;
    max-width: none;
}

.tti:hover::after {
  display: block;
}
</style>



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tiny-segmenter@0.2.0/dist/tiny-segmenter-0.2.0.min.js" charset="UTF-8"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            const walker = document.createTreeWalker(document.body, NodeFilter.SHOW_TEXT,   {
                acceptNode: function (node) {
                return node.parentNode.nodeName != "SCRIPT" ? NodeFilter.FILTER_ACCEPT:NodeFilter.FILTER_SKIP;
                },
            },false);

            let node;
            const textNodes = [];
            while (node = walker.nextNode()) {
                textNodes.push(node);
                console.log(node.nodeValue);   
            }

            const segmenter = new TinySegmenter();   
            for(const node of textNodes)
            {
                const segs = segmenter.segment(node.nodeValue);
                console.log((segs.join(" | ")));
                const newText = segs.reduce((acc, curr, i, arr) => {
                    const prev_token = (i > 0) ? arr[i-1]:"";
                    if(curr == '[')
                    {
                        acc += `<ruby>${prev_token}<rt>`;
                    }
                    else if(prev_token == '[')
                    {
                        /* We do nothing */
                    } 
                    else if(curr == ']')
                    {
                        acc += `${prev_token}</rt></ruby>`;
                    }
                    else if(i == arr.length - 1){
                        acc += ((prev_token!=']')?prev_token:"") + curr ;
                    } 
                    else {
                        acc += ((prev_token!=']')?prev_token:"");
                    }
                    return acc;

                }, "");

                if(newText != node.nodeValue)
                {
                    let span = document.createElement('span');
                    span.innerHTML = newText;

                    node.parentNode.replaceChild(span, node);
                }
            }
        });
</script>
