<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
   <style>
        p {
            font-size: 1.1em;
            line-height: 2.2;
        } 
        body {
            font-family: "Noto Serif JP";
          
        }

    </style>
<h1>和歌山[わかやま]県[けん]の水族館[すいぞくかん]　アカウミガメの赤[あか]ちゃんが生[う]まれる</h1>
<br>
<img src="https://www3.nhk.or.jp/news/html/20240823/K10014556291_2408222042_0822205550_02_01.jpg" alt="NHK News" style="width: auto; height: 300px;">

<p>和歌山[わかやま]県[けん]の串本[くしもと]海中[かいちゅう]公園[こうえん]センター水族館[すいぞくかん]では、1995年に世界で初[はじ]めて、水族館[すいぞくかん]が育[そだ]てたアカウミガメの卵[たまご]から赤ちゃんが生[う]まれました。</p>
<p>今年も、8月 中旬[ちゅうじゅん]からアカウミガメの赤ちゃんがたくさん生まれています。赤[あか]ちゃんは、背中[せなか]の甲羅[こうら]の長[なが]さが4.5cmぐらいです。人の手[て]より小[ちい]さ<span class="tti" dt="Forme en て des adj. en -い. 'Ils sont petits ET...'">くて</span>、<span class="tti" dt="Adj. en -い＋さ. 重い (lourd) -> 重さ (le poids).">重[おも]さ</span>は20gぐらいです。生[う]まれ<span class="tti" dt="Verbe + ～たばかり : 'venir de faire VERBE' Ici, '(Le bébé qui) vient de naître...'">たばかり</span>の赤ちゃんは、鼻[はな]と口[くち]の<span class="tti" dt="AとBの間に = Entre A et B">間に</span> 卵[たまご]を割るための角[つの]があって、へそが残っています。</p>
<p>水族館[すいぞくかん]は「大人のアカウミガメ<span class="tti" dt="Si on compare à...">と比[くら]べると</span>小[ちい]さいのがわかります。生まれたばかり<span class="tti" dt="Forme en て de です. 'Il vient de naître ET il est mignon...'">で</span>かわいい赤ちゃんを<span class="tti" dt="VERBEに来る : Je viens POUR VERBE. Ici, 'Venir pour voir'">見に来て</span>ください」と<span class="tti" dt="Verbe de parole + ～ている s'utilise souvent pour dire que qqn d'autre a dit/pensé. S'utilise peu pour soi.">話[はな]しています</span>。</p>
<p>赤ちゃんは9月 下旬[げじゅん]<span class="tti" dt="までに : 'Avant (la fin du mois de septembre)'">までに</span>、400匹から500匹が生まれ<span class="tti" dt="Forme Renyô (forme ます sans ます) + そうです : Semble (naître). Ici, 'Il est probable que 400-500 bébés naissent'">そうです</span>。水族館[すいぞくかん]では、8月24日から元気[げんき]な赤ちゃんを見<span class="tti" dt="Verbe + てもらう = Recevoir une action (=une faveur). '(Rendre à l'aquarium la faveur de venir) regarder les bébés tortues'">てもらう</span>*<span class="tti" dt="Verbe  +～予定です : Prévoir de...">予定[よてい]</span>です。</p>

<a href="https://www3.nhk.or.jp/news/easy/k10014556291000/k10014556291000.html">Source</a>

<style>
.tti {
  position: relative;
  cursor: pointer;
  
  text-decoration: underline;
  color:rgb(28, 122, 156);
}
.tti::after {
  content: attr(dt);
  position: absolute;
  background-color: #333;
  color: #fff;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  top: 100%; /* Position below the text */
  left: 50%;
 word-wrap: break-word;
  white-space: normal;
  display: none;
  z-index: 10;
  min-width: 250px;
  max-width: 500px;
}

.ttis::after {
    min-width: auto;
    max-width: none;
}

.tti:hover::after {
  display: block;
}
</style>



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tiny-segmenter@0.2.0/dist/tiny-segmenter-0.2.0.min.js" charset="UTF-8"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            const walker = document.createTreeWalker(document.body, NodeFilter.SHOW_TEXT,   {
                acceptNode: function (node) {
                return node.parentNode.nodeName != "SCRIPT" ? NodeFilter.FILTER_ACCEPT:NodeFilter.FILTER_SKIP;
                },
            },false);

            let node;
            const textNodes = [];
            while (node = walker.nextNode()) {
                textNodes.push(node);
                console.log(node.nodeValue);   
            }

            const segmenter = new TinySegmenter();   
            for(const node of textNodes)
            {
                const segs = segmenter.segment(node.nodeValue);
                console.log((segs.join(" | ")));
                const newText = segs.reduce((acc, curr, i, arr) => {
                    const prev_token = (i > 0) ? arr[i-1]:"";
                    if(curr == '[')
                    {
                        acc += `<ruby>${prev_token}<rt>`;
                    }
                    else if(prev_token == '[')
                    {
                        /* We do nothing */
                    } 
                    else if(curr == ']')
                    {
                        acc += `${prev_token}</rt></ruby>`;
                    }
                    else if(i == arr.length - 1){
                        acc += ((prev_token!=']')?prev_token:"") + curr ;
                    } 
                    else {
                        acc += ((prev_token!=']')?prev_token:"");
                    }
                    return acc;

                }, "");

                if(newText != node.nodeValue)
                {
                    let span = document.createElement('span');
                    span.innerHTML = newText;

                    node.parentNode.replaceChild(span, node);
                }
            }
        });
</script>
