
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
   <style>
        p {
            font-size: 1.2em;
            line-height: 1.5;
        } 
        body {
            font-family: "Noto Serif JP";
          
        }
        h4 {
    border-left-width: 4px;
    border-style: solid;
    margin-bottom: 1.25rem;
    margin-top: 10.5rem;
    --tw-border-opacity: 1;
    border-color: rgb(19 29 42 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(59 69 82 / var(--tw-bg-opacity));
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    padding-top: 0.25rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.spoiler{
    background-color: rgb(212, 212, 212);
    color: transparent;
    user-select: none;
  }
  
  .spoiler:hover{
    background-color: inherit;
    color: inherit;
  }
    </style>


<h4>Indique le COD. (COD en japonais ≠ COD en français) </h4>
<p>水[みず]<u style="color: red;">を</u>飲[の]む。家[いえ]<u style="color: red;">を</u>建[た]てる。</p>
<span class="spoiler"><i>« Boire de l'eau. Construire une maison.»</i></span>

<h4>Indique l'espace traversé (pour aller ailleurs).</h4>
<p>公園[こうえん]<u style="color: red;">を</u>散歩[さんぽ]する。川<u style="color: red;">を</u>泳ぐ</p>
<span class="spoiler"><i>« Se balader dans(=en traversant) le parc. Nager dans(=en traversant) la rivière. »</i></span>
<img src="https://media.discordapp.net/attachments/402231963479572481/1278228234172895263/image.png?ex=66d00a4f&is=66ceb8cf&hm=e93b12d032fecab008c609e8c0bb183b0ecb1baf7f5dfff4acfed4d3359acae6&=&format=webp&quality=lossless&width=406&height=316" alt="Fauché" style="width: auto; height: auto;">

<h4>Indique le lieu qu'on quitte (souvent 出る・離れる)</h4>
<p>家<u style="color: red;">を</u>出る。席<u style="color: red;">を</u>離れる</p>
<span class="spoiler"><i>« Partir de la maison. S'éloigner de sa chaise/sa place.»</i></span>

<br>
<hr>
<p><b>Source</b> : 『三省堂8』『例解学習11』 『新明解8』 『明鏡3』</p> 
<p> 『A dictionary of Japanese Grammar』 『(Kodansha) How to tell the difference between Japanese Particles.』</p>

<style>
.tti {
  position: relative;
  cursor: pointer;
  
  text-decoration: underline;
  color:rgb(28, 122, 156);
}

.tti::after {
  content: attr(dt);
  position: absolute;
  background-color: #333;
  color: #fff;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  top: 100%; /* Position below the text */
  left: 50%;
 word-wrap: break-word;
  white-space: normal;
  display: none;
  z-index: 10;
  min-width: 250px;
  max-width: 500px;
}

.ttis::after {
    min-width: auto;
    max-width: none;
}

.tti:hover::after {
  display: block;
}
</style>



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tiny-segmenter@0.2.0/dist/tiny-segmenter-0.2.0.min.js" charset="UTF-8"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            const walker = document.createTreeWalker(document.body, NodeFilter.SHOW_TEXT,   {
                acceptNode: function (node) {
                return node.parentNode.nodeName != "SCRIPT" ? NodeFilter.FILTER_ACCEPT:NodeFilter.FILTER_SKIP;
                },
            },false);

            let node;
            const textNodes = [];
            while (node = walker.nextNode()) {
                textNodes.push(node);
                console.log(node.nodeValue);   
            }

            const segmenter = new TinySegmenter();   
            for(const node of textNodes)
            {
                const segs = segmenter.segment(node.nodeValue);
                console.log((segs.join(" | ")));
                const newText = segs.reduce((acc, curr, i, arr) => {
                    const prev_token = (i > 0) ? arr[i-1]:"";
                    if(curr == '[')
                    {
                        acc += `<ruby>${prev_token}<rt>`;
                    }
                    else if(prev_token == '[')
                    {
                        /* We do nothing */
                    } 
                    else if(curr == ']')
                    {
                        acc += `${prev_token}</rt></ruby>`;
                    }
                    else if(i == arr.length - 1){
                        acc += ((prev_token!=']')?prev_token:"") + curr ;
                    } 
                    else {
                        acc += ((prev_token!=']')?prev_token:"");
                    }
                    return acc;

                }, "");

                if(newText != node.nodeValue)
                {
                    let span = document.createElement('span');
                    span.innerHTML = newText;

                    node.parentNode.replaceChild(span, node);
                }
            }
        });
</script>
