
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
   <style>
        p {
            font-size: 1.2em;
            line-height: 1.5;
        } 
        body {
            font-family: "Noto Serif JP";
          
        }
        h4 {
    border-left-width: 4px;
    border-style: solid;
    margin-bottom: 1.25rem;
    margin-top: 10.5rem;
    --tw-border-opacity: 1;
    border-color: rgb(19 29 42 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(59 69 82 / var(--tw-bg-opacity));
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    padding-top: 0.25rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.spoiler{
    background-color: rgb(212, 212, 212);
    color: transparent;
    user-select: none;
  }
  
  .spoiler:hover{
    background-color: inherit;
    color: inherit;
  }
    </style>

<h4>Indique la citation.</h4>
<p>いやだ<u style="color: red;">と</u>言[い]った。面白[おもしろ]い<u style="color: red;">と</u>思[おも]う</p>
<span class="spoiler"><i>« J'ai dit 'Non !'. Je pense que 'C'est intéressant'.»</i></span>
<img src="https://media.discordapp.net/attachments/402231963479572481/1277983047421005885/image.png?ex=66cf25f6&is=66cdd476&hm=5a3f03c9b50ca02e7a793f2b49bb9aadfab424d9f6808a51eed4fe23d757a85c&=&format=webp&quality=lossless&width=911&height=240" alt="Fauché" style="width: auto; height: auto;">
        
<h4>Indique l'accompagnement.</h4>
<p>恋人[こいびと]<u style="color: red;">と</u>映画[えいが]を見[み]る</p> 
<span class="spoiler"><i>« Regarder un film avec son partenaire.»</i></span>
        
<h4>Indique une liste exhaustive.</h4>
<p>親[おや]<u style="color: red;">と</u>子[こ]。天[てん]<u style="color: red;">と</u>地[ち]。</p>
<span class="spoiler"><i>« Les parents et les enfants. Le ciel et la terre.»</i></span>
        
<h4>Indique que les sujets causent/subissent une interaction.</h4>
<p>友[とも]だち<u style="color: red;">と</u>話[はな]す。トラック<u style="color: red;">と</u>ぶつかる。麦[むぎ]<u style="color: red;">と</u>米[こめ]が混[ま]ざる。</p>

<span class="spoiler"><i>« Moi et mon ami nous parlons. Moi et le camion nous sommes percutés. Le blé et le riz se mélangent.»</i></span>
<br>

<h4>Indique une hypothèse.</h4>
<p>来る<u style="color: red;">と</u>いいね. 人に聞[き]かれる<u style="color: red;">と</u>困る</p>
<span class="spoiler"><i>« (lit.) S'il venait, ce serait bien. (lit.) Si on venait à nous entendre, je serai gêné.»</i></span>
        
<h4>Indique que si une condition est remplie, alors elle mènera nécessairement à sa conséquence.</h4> <i style="color: grey;">Utilisé pour les automatismes, la nature, etc. Ne peut pas être utilisé ni pour une question/un ordre, ni pour exprimer son intention</i>
<p>飲[の]む<u style="color: red;">と</u>、(いつも)ぐちを言[い]う。ボールを落[お]とす<u style="color: red;">と</u>、（いつも）落[お]ちろ。</p>
<span class="spoiler"><i>« Quand il boit, il se plaint (toujours). Quand je lâche la balle, elle tombe (toujours).»</i></span>
                     
<h4>Indique la simultanéité de l'action.</h4>
<p>火事[かじ]と聞[き]く<u style="color: red;">と</u>、飛[と]び起[お]きた。部屋[へや]に入[はい]る<u style="color: red;">と</u>、カーテンを開[あ]けた</p>
<span class="spoiler"><i>« Au moment où j'ai entendu l'incendie, j'ai sursauté (de mon lit). Au moment où il est rentré dans la pièce, il a ouvert les rideaux.»</i></span>

<br>
<hr>
<p><b>Source</b> : 『三省堂8』『例解学習11』 『新明解8』 『明鏡3』</p> 
<p> 『A dictionary of Japanese Grammar』</p> <p> 『(Kodansha) How to tell the difference between Japanese Particles.』</p>

<style>
.tti {
  position: relative;
  cursor: pointer;
  
  text-decoration: underline;
  color:rgb(28, 122, 156);
}

.tti::after {
  content: attr(dt);
  position: absolute;
  background-color: #333;
  color: #fff;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  top: 100%; /* Position below the text */
  left: 50%;
 word-wrap: break-word;
  white-space: normal;
  display: none;
  z-index: 10;
  min-width: 250px;
  max-width: 500px;
}

.ttis::after {
    min-width: auto;
    max-width: none;
}

.tti:hover::after {
  display: block;
}
</style>



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tiny-segmenter@0.2.0/dist/tiny-segmenter-0.2.0.min.js" charset="UTF-8"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            const walker = document.createTreeWalker(document.body, NodeFilter.SHOW_TEXT,   {
                acceptNode: function (node) {
                return node.parentNode.nodeName != "SCRIPT" ? NodeFilter.FILTER_ACCEPT:NodeFilter.FILTER_SKIP;
                },
            },false);

            let node;
            const textNodes = [];
            while (node = walker.nextNode()) {
                textNodes.push(node);
                console.log(node.nodeValue);   
            }

            const segmenter = new TinySegmenter();   
            for(const node of textNodes)
            {
                const segs = segmenter.segment(node.nodeValue);
                console.log((segs.join(" | ")));
                const newText = segs.reduce((acc, curr, i, arr) => {
                    const prev_token = (i > 0) ? arr[i-1]:"";
                    if(curr == '[')
                    {
                        acc += `<ruby>${prev_token}<rt>`;
                    }
                    else if(prev_token == '[')
                    {
                        /* We do nothing */
                    } 
                    else if(curr == ']')
                    {
                        acc += `${prev_token}</rt></ruby>`;
                    }
                    else if(i == arr.length - 1){
                        acc += ((prev_token!=']')?prev_token:"") + curr ;
                    } 
                    else {
                        acc += ((prev_token!=']')?prev_token:"");
                    }
                    return acc;

                }, "");

                if(newText != node.nodeValue)
                {
                    let span = document.createElement('span');
                    span.innerHTML = newText;

                    node.parentNode.replaceChild(span, node);
                }
            }
        });
</script>
