
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
   <style>
        p {
            font-size: 1.1em;
            line-height: 1.5;
        } 
        body {
            font-family: "Noto Serif JP";
          
        }
    </style>
<h1></h1>

<img src="" alt="Fauché" style="width: auto; height: 300px;">

Usages de の　:

Indique une description. (AのB = A décrit B)
私の本。皮のかばん。
« Mon livre. Un cartable en cuir.»

Un mot qui remplace こと・もの.
本を読むのが好きです。
« J'aime le fait de lire des livres.»

（～のです）Met l'emphase sur une cause ou une question

Usages de まで :

Indique le point d'arrivé/(avec des nombres/quantités) la limite maximale
北海道まで行く。九時まで寝る。二十人まで乗れる。
« Aller jusqu'à Hokkaidô. Dormir jusqu'à 9h. (limite max) 20 personnes MAX peuvent monter.»

Signifie "Même", comme dans "Même un enfant sait faire."
子どもまで知っている。妹にまで負けるとは…。雨まで降り出した。
« Même un enfant connaît. J'arrive pas à croire que t'aies MEME perdu contre ma petite soeur. (il faisait tellement moche) qu'il a même plu.»

(Avec un verbe + までもない) Indique ce qu'il n'est pas nécessaire de faire.
わざわざ言うまでもない。
(lit.) T'as pas besoin d'aller jusqu'à me le dire./ T'es pas obligé de me le dire.


Usages de から :

Indique le point de départ.
明日から夏休みになる。
« A partir de demain, c'est les vacances d'été.»

Indique la cause.
暑いから出かけない。
« Vu qu'il fait chaud, je peux pas sortir.» 

Indique le matériau d'origine.
日本酒は米から作る。
« Le saké japonais est fait à partir du riz.»

Usages de が :
Indique le sujet. "Vous aviez des infos sur cette chose, en fait c'est X", ce qui est important c'est X, la chose/personne qui fait l'action.
ウマが走しる。カキが赤い。
« (C'est le) cheval (qui) court. (C'est le) Kaki (qui) est rouge.»

Conjonction d'opposition. "Mais...".
春になったが、まだ寒むい。
« C'est l'été maintenant, mais il fait encore froid.»

Indique le COI, pour le désir(～たい), la capacité (forme potentiel), 好き et 嫌い, etc. 
本が読みたい・英語がしゃべれる
« Je veux lire un livre. Je sais parler anglais.»

(Soutenu) Equivaut à の
君が代・これがため
Dans les noms de lieux s'écrit ヶ
鬼ヶ島 (おにがしま = おにのしま).

(d'autres usages existent, notamment en tant que particule finale)

Usages de は :

Indique le thème. "En parlant de X, voilà des infos (nouvelles/importantes)", ce qui est important ce sont les infos !!!
私は小学四年生です。
« Je suis en 4ème année de primaire.»

Indique le contraste.
母にはまだ話していない。
« Je n'en ai toujours parlé à ma mère (mais aux autres si).»

(souvent suivi d'une négation) Indique qu'on approuve maiiiiiiis pas vraiment. Atténue une affirmation.
わかってはいるが、実行できない
« Je comprends, maiiiiiis j'arrive pas à mettre en action.»

Indique une limite minimum. 'Minimum...'
駅まで二キロはある
« Il y a minimum 2km jusqu'à la gare.» 

(Aは～Bは) Indique la comparaison.
リンゴはすきだがバナナはきらいだ。
« J'aime les pommes, mais je déteste les bananes.»

Usages de で :

Lieu d'action
- 食堂で食たべる。
« Manger **à** la cantine.»

Indique le moyen
- ペンで書かく。三人で行く。
« Ecrire **au** stylo. Aller (quelque part) **à** trois.»

Indique la cause
- ギャグで笑う。
« Rigoler **à cause d'**une blague. »

Indique la durée.
- 一時間で一つ作る。
« En faire un **en **1h.»



Usages de に :
- 教室にいる。Indiquer le lieu (d'existence)
"être dans la salle de classe.»

Indique l'heure/le moment.
- 七時に集まる。
"Se réunir à 7h.»

Indique la direction/le but de l'action
- 京都に着く。買い物に行く。
"Arriver à Kyôto." ou "Aller (pour) faire les courses.»

Indiquer la cible d'une action
- 妹におかしをあげる。
"Donner des bonbons à ma petite sœur.»

Indiquer la raison (souvent un sentiment)
- うれしさに手をたたく。
« Frapper des mains de joie.»

Le point de comparaison
- 顔は弟ににている。
« Ton visage ressemble à celui de mon petit frère.»

La proportion
- 十人に一人当たる。
« ça tombe sur 1 personne **sur** 10.»

Liste exhaustive. "Et", s'utilise comme と.
- 父に母に姉の写真だ。
« Une photo de mon père, ma mère et ma grande sœur.»

L'accentuation de l'intensité du verbe
- 考えに考えた。
« J'ai longtemps/bien réfléchi.»

（～でしょうに）Indique un léger mécontentement 
- 急がなくてもよいでしょうに。
« On avait pas besoin de se presser pourtant...»

<br>
<a href="">Source</a>

<style>
.tti {
  position: relative;
  cursor: pointer;
  
  text-decoration: underline;
  color:rgb(28, 122, 156);
}

.tti::after {
  content: attr(dt);
  position: absolute;
  background-color: #333;
  color: #fff;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  top: 100%; /* Position below the text */
  left: 50%;
 word-wrap: break-word;
  white-space: normal;
  display: none;
  z-index: 10;
  min-width: 250px;
  max-width: 500px;
}

.ttis::after {
    min-width: auto;
    max-width: none;
}

.tti:hover::after {
  display: block;
}
</style>



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tiny-segmenter@0.2.0/dist/tiny-segmenter-0.2.0.min.js" charset="UTF-8"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            const walker = document.createTreeWalker(document.body, NodeFilter.SHOW_TEXT,   {
                acceptNode: function (node) {
                return node.parentNode.nodeName != "SCRIPT" ? NodeFilter.FILTER_ACCEPT:NodeFilter.FILTER_SKIP;
                },
            },false);

            let node;
            const textNodes = [];
            while (node = walker.nextNode()) {
                textNodes.push(node);
                console.log(node.nodeValue);   
            }

            const segmenter = new TinySegmenter();   
            for(const node of textNodes)
            {
                const segs = segmenter.segment(node.nodeValue);
                console.log((segs.join(" | ")));
                const newText = segs.reduce((acc, curr, i, arr) => {
                    const prev_token = (i > 0) ? arr[i-1]:"";
                    if(curr == '[')
                    {
                        acc += `<ruby>${prev_token}<rt>`;
                    }
                    else if(prev_token == '[')
                    {
                        /* We do nothing */
                    } 
                    else if(curr == ']')
                    {
                        acc += `${prev_token}</rt></ruby>`;
                    }
                    else if(i == arr.length - 1){
                        acc += ((prev_token!=']')?prev_token:"") + curr ;
                    } 
                    else {
                        acc += ((prev_token!=']')?prev_token:"");
                    }
                    return acc;

                }, "");

                if(newText != node.nodeValue)
                {
                    let span = document.createElement('span');
                    span.innerHTML = newText;

                    node.parentNode.replaceChild(span, node);
                }
            }
        });
</script>
