
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
   <style>
        p {
            font-size: 1.2em;
            line-height: 1.5;
        } 
        body {
            font-family: "Noto Serif JP";
          
        }

        h4 {
    border-left-width: 4px;
    border-style: solid;
    margin-bottom: 1.25rem;
    margin-top: 10.5rem;
    --tw-border-opacity: 1;
    border-color: rgb(19 29 42 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(59 69 82 / var(--tw-bg-opacity));
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    padding-top: 0.25rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.spoiler{
    background-color: rgb(212, 212, 212);
    color: transparent;
    user-select: none;
  }
  
  .spoiler:hover{
    background-color: inherit;
    color: inherit;
  }
    </style>

<h4> Indique le sujet. Le sujet n'est pas connu de l'interlocuteur, c'est la première fois qu'il en entend parler.</h4>
<p>ウマ<u style="color: red;">が</u>走る。カキ<u style="color: red;">が</u>赤い。</p>
<span class="spoiler"><i>« (C'est le) cheval (qui) court. (C'est le) Kaki (qui) est rouge.»</i></span>
<img src="https://media.discordapp.net/attachments/402231963479572481/1277979052434788456/image.png?ex=66cf223d&is=66cdd0bd&hm=7d374cc020c9a9a1f0ebb663481abf180b503ea277e9be146463c8ae98544516&=&format=webp&quality=lossless&width=948&height=303" alt="Fauché" style="width: auto; height: auto;">

<h4>Conjonction d'opposition. "Mais...".</h4>
<p>春[はる]になった<u style="color: red;">が</u>、まだ寒[さむ]い。</p>
<span class="spoiler"><i>« C'est l'été maintenant, mais il fait encore froid.»</i></span>

<h4>Indique l'objet du verbe pour le désir(～たい), la forme potentiel, 好[す]き et 嫌[きら]い, etc. </h4>
<p>本[ほん]<u style="color: red;">が</u>読[よ]みたい・英語[えいご]<u style="color: red;">が</u>しゃべれる</p>
<span class="spoiler"><i>« (Je) veux lire un livre. (Je) sais parler anglais.»</i></span>

<h4>(<i style="color: red;">Littéraire</i>) Équivaut à の</h4>
<p>君[きみ]<u style="color: red;">が</u>代[よ]</p>
<span class="spoiler"><i>« (L'hymne du Japon) »</i></span>
<br>
<i style="color: red;">Dans les noms de lieux s'écrit ヶ</i>
<p>鬼ヶ島[おにがしま]</p>
<p>(おに<u style="color: red;">が</u>しま = おにのしま).</i></span>

<br>
<hr>
<p><b>Source</b> : 『三省堂8』『例解学習11』 『新明解8』 『明鏡3』</p> 
<p> 『A dictionary of Japanese Grammar』</p> <p> 『(Kodansha) How to tell the difference between Japanese Particles.』</p>

<style>
.tti {
  position: relative;
  cursor: pointer;
  
  text-decoration: underline;
  color:rgb(28, 122, 156);
}

.tti::after {
  content: attr(dt);
  position: absolute;
  background-color: #333;
  color: #fff;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  top: 100%; /* Position below the text */
  left: 50%;
 word-wrap: break-word;
  white-space: normal;
  display: none;
  z-index: 10;
  min-width: 250px;
  max-width: 500px;
}

.ttis::after {
    min-width: auto;
    max-width: none;
}

.tti:hover::after {
  display: block;
}
</style>



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tiny-segmenter@0.2.0/dist/tiny-segmenter-0.2.0.min.js" charset="UTF-8"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            const walker = document.createTreeWalker(document.body, NodeFilter.SHOW_TEXT,   {
                acceptNode: function (node) {
                return node.parentNode.nodeName != "SCRIPT" ? NodeFilter.FILTER_ACCEPT:NodeFilter.FILTER_SKIP;
                },
            },false);

            let node;
            const textNodes = [];
            while (node = walker.nextNode()) {
                textNodes.push(node);
                console.log(node.nodeValue);   
            }

            const segmenter = new TinySegmenter();   
            for(const node of textNodes)
            {
                const segs = segmenter.segment(node.nodeValue);
                console.log((segs.join(" | ")));
                const newText = segs.reduce((acc, curr, i, arr) => {
                    const prev_token = (i > 0) ? arr[i-1]:"";
                    if(curr == '[')
                    {
                        acc += `<ruby>${prev_token}<rt>`;
                    }
                    else if(prev_token == '[')
                    {
                        /* We do nothing */
                    } 
                    else if(curr == ']')
                    {
                        acc += `${prev_token}</rt></ruby>`;
                    }
                    else if(i == arr.length - 1){
                        acc += ((prev_token!=']')?prev_token:"") + curr ;
                    } 
                    else {
                        acc += ((prev_token!=']')?prev_token:"");
                    }
                    return acc;

                }, "");

                if(newText != node.nodeValue)
                {
                    let span = document.createElement('span');
                    span.innerHTML = newText;

                    node.parentNode.replaceChild(span, node);
                }
            }
        });
</script>
