
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
   <style>
        p {
            font-size: 1.2em;
            line-height: 1.5;
        } 
        body {
            font-family: "Noto Serif JP";
          
        }
        h3 {
 border-left-width: 4px;
 border-top-width: 0px;
 border-bottom-width: 0px;
 border-right-width: 0px;
  border-style: solid;
  margin-bottom: 1rem;
  margin-top: 1rem;
  --tw-border-opacity: 1;
  border-color: rgb(191, 219, 11/var(--tw-border-opacity));
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-left: .5rem;
}
        h4 {
    border-left-width: 4px;
    border-style: solid;
    margin-bottom: 1.25rem;
    margin-top: 10.5rem;
    --tw-border-opacity: 1;
    border-color: rgb(19 29 42 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(59 69 82 / var(--tw-bg-opacity));
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    padding-top: 0.25rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.spoiler{
    background-color: rgb(212, 212, 212);
    color: transparent;
    user-select: none;
  }
  
  .spoiler:hover{
    background-color: inherit;
    color: inherit;
  }
    </style>


<h4>Indique la direction du mouvement. </h4>
<p>・こっち<u style="color: red;">へ</u>来い。海の方<u style="color: red;">へ</u>飛んでいく</p>
<span class="spoiler"><i>« Viens par ici. S'envoler en direction/vers la mer. »</i></span>

<h4>Indique le point d'arrivé</h4>
<p>・頂上<u style="color: red;">へ</u>たどり着く。故郷<u style="color: red;">へ</u>帰る。</p>
<span class="spoiler"><i>« Arriver au sommet. Revenir à son village natal. »</i></span>

<h4>Indique le destinataire de l'action</h4>
<p>・妻<u style="color: red;">へ</u>贈る。うち<u style="color: red;">へ</u>電話する。</p>
<span class="spoiler"><i>« Offrir qqc à ma femme. Appeler chez moi. »</i></span>

<h4>Différence に VS へ</h4>
<p>En général に est remplaçable へ.</p>
<p>Mais, に insiste sur la cible/point d'arrivé, là où へ insiste sur la direction globale.</p>

<h3>Toutefois dans ces deux cas, に ne peut pas remplacer へ.</h3>

<b>1. </b><u style="color: red; font-size: 17px;">Insistance sur la direction du mouvement.</u>
<p>・前<u style="color: red;">へ</u>前<u style="color: red;">へ</u>。</p>
<span class="spoiler"><i>« Avancer encore et encore. »</i></span>

<p>解決[かいけつ]<u style="color: red;">へ</u>一歩[いっぽ]前進[ぜんしん]</p>
<span class="spoiler"> « Avancer légèrement /vers une solution. »</span> 

<b>2. </b><u style="color: red; font-size: 17px;">La combinaison「にの」n'existe pas, donc on doit utiliser 「への」</u>
<p>・母<u style="color: red;">への</u>手紙</p>
<span class="spoiler">« Une lettre adressée à ma mère. »</i></span>

<br>
<hr>
<p><b>Source</b> : 『三省堂8』『例解学習11』 『新明解8』 『明鏡3』</p> 
<p> 『A dictionary of Japanese Grammar』</p> <p> 『(Kodansha) How to tell the difference between Japanese Particles.』</p>

<style>
.tti {
  position: relative;
  cursor: pointer;
  
  text-decoration: underline;
  color:rgb(28, 122, 156);
}

.tti::after {
  content: attr(dt);
  position: absolute;
  background-color: #333;
  color: #fff;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  top: 100%; /* Position below the text */
  left: 50%;
 word-wrap: break-word;
  white-space: normal;
  display: none;
  z-index: 10;
  min-width: 250px;
  max-width: 500px;
}

.ttis::after {
    min-width: auto;
    max-width: none;
}

.tti:hover::after {
  display: block;
}
</style>



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tiny-segmenter@0.2.0/dist/tiny-segmenter-0.2.0.min.js" charset="UTF-8"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            const walker = document.createTreeWalker(document.body, NodeFilter.SHOW_TEXT,   {
                acceptNode: function (node) {
                return node.parentNode.nodeName != "SCRIPT" ? NodeFilter.FILTER_ACCEPT:NodeFilter.FILTER_SKIP;
                },
            },false);

            let node;
            const textNodes = [];
            while (node = walker.nextNode()) {
                textNodes.push(node);
                console.log(node.nodeValue);   
            }

            const segmenter = new TinySegmenter();   
            for(const node of textNodes)
            {
                const segs = segmenter.segment(node.nodeValue);
                console.log((segs.join(" | ")));
                const newText = segs.reduce((acc, curr, i, arr) => {
                    const prev_token = (i > 0) ? arr[i-1]:"";
                    if(curr == '[')
                    {
                        acc += `<ruby>${prev_token}<rt>`;
                    }
                    else if(prev_token == '[')
                    {
                        /* We do nothing */
                    } 
                    else if(curr == ']')
                    {
                        acc += `${prev_token}</rt></ruby>`;
                    }
                    else if(i == arr.length - 1){
                        acc += ((prev_token!=']')?prev_token:"") + curr ;
                    } 
                    else {
                        acc += ((prev_token!=']')?prev_token:"");
                    }
                    return acc;

                }, "");

                if(newText != node.nodeValue)
                {
                    let span = document.createElement('span');
                    span.innerHTML = newText;

                    node.parentNode.replaceChild(span, node);
                }
            }
        });
</script>
