
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
   <style>
        p {
            font-size: 1.2em;
            line-height: 1.5;
        } 
        body {
            font-family: "Noto Serif JP";
          
        }
        h4 {
    border-left-width: 4px;
    border-style: solid;
    margin-bottom: 1.25rem;
    margin-top: 10.5rem;
    --tw-border-opacity: 1;
    border-color: rgb(19 29 42 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(59 69 82 / var(--tw-bg-opacity));
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    padding-top: 0.25rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.spoiler{
    background-color: rgb(212, 212, 212);
    color: transparent;
    user-select: none;
  }
  
  .spoiler:hover{
    background-color: inherit;
    color: inherit;
  }
    </style>



<h4>Indique le thème. (La suite de la phrase nous apporte des infos dessus).</h4>
<p>私<u style="color: red;">は</u>田中です。私[わたし]<u style="color: red;">は</u>小学四年生です。</p>
<span class="spoiler"><i>« Je suis Tanaka.» « Je suis en 4ème année de primaire.»</i></span>

<h4>Indique un sujet connu par le locuteur et l'interlocuteur. (Un ami commun, le soleil, etc.)</h4>
<p>太陽<u style="color: red;">は</u>東から出て、西に沈む。</p>
<span class="spoiler"><i>« Le soleil se lève à l'Est et se couche à l'Ouest.»</i></span>

<h4>Indique le contraste.</h4>
<p>母[はは]に<u style="color: red;">は</u>まだ話[はな]していない。</p>
<span class="spoiler"><i>« Je n'en ai toujours parlé à ma mère (mais aux autres si).»</i></span>

<h4>(<i style="color: red;">souvent suivi d'une négation</i>) Atténue une affirmation.</h4>
<p>わかって<u style="color: red;">は</u>いるが、実行[じっこう]できない</p>
<span class="spoiler"><i>« Je comprends, maiiiiiis... j'arrive pas à appliquer.»</i></span>

<h4>Indique une limite minimum.</h4>
<p>駅[えき]まで二キロ<u style="color: red;">は</u>ある</p>
<span class="spoiler"><i>« Il y a minimum 2km jusqu'à la gare.»</i></span>

<h4>（<b style="color: red;">Aは～Bは～</b>） Indique la comparaison entre A et B.</h4>
<p>リンゴ<u style="color: red;">は</u>すきだがバナナ<u style="color: red;">は</u>きらいだ。</p>
<span class="spoiler"><i>« J'aime les pommes, mais je déteste les bananes.»</i></span>

<br>
<hr>
<p><b>Source</b> : 『三省堂8』『例解学習11』 『新明解8』 『明鏡3』</p> 
<p> 『A dictionary of Japanese Grammar』</p> <p> 『(Kodansha) How to tell the difference between Japanese Particles.』</p>

<style>
.tti {
  position: relative;
  cursor: pointer;
  
  text-decoration: underline;
  color:rgb(28, 122, 156);
}

.tti::after {
  content: attr(dt);
  position: absolute;
  background-color: #333;
  color: #fff;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  top: 100%; /* Position below the text */
  left: 50%;
 word-wrap: break-word;
  white-space: normal;
  display: none;
  z-index: 10;
  min-width: 250px;
  max-width: 500px;
}

.ttis::after {
    min-width: auto;
    max-width: none;
}

.tti:hover::after {
  display: block;
}
</style>



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tiny-segmenter@0.2.0/dist/tiny-segmenter-0.2.0.min.js" charset="UTF-8"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            const walker = document.createTreeWalker(document.body, NodeFilter.SHOW_TEXT,   {
                acceptNode: function (node) {
                return node.parentNode.nodeName != "SCRIPT" ? NodeFilter.FILTER_ACCEPT:NodeFilter.FILTER_SKIP;
                },
            },false);

            let node;
            const textNodes = [];
            while (node = walker.nextNode()) {
                textNodes.push(node);
                console.log(node.nodeValue);   
            }

            const segmenter = new TinySegmenter();   
            for(const node of textNodes)
            {
                const segs = segmenter.segment(node.nodeValue);
                console.log((segs.join(" | ")));
                const newText = segs.reduce((acc, curr, i, arr) => {
                    const prev_token = (i > 0) ? arr[i-1]:"";
                    if(curr == '[')
                    {
                        acc += `<ruby>${prev_token}<rt>`;
                    }
                    else if(prev_token == '[')
                    {
                        /* We do nothing */
                    } 
                    else if(curr == ']')
                    {
                        acc += `${prev_token}</rt></ruby>`;
                    }
                    else if(i == arr.length - 1){
                        acc += ((prev_token!=']')?prev_token:"") + curr ;
                    } 
                    else {
                        acc += ((prev_token!=']')?prev_token:"");
                    }
                    return acc;

                }, "");

                if(newText != node.nodeValue)
                {
                    let span = document.createElement('span');
                    span.innerHTML = newText;

                    node.parentNode.replaceChild(span, node);
                }
            }
        });
</script>
