<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
   <style>
        p {
            font-size: 1.1em;
            line-height: 2.2;
        } 
        body {
            font-family: "Noto Serif JP";
          
        }
    </style>



<h1>プロローグ「森の中で・ｂ」
─Lost in the Forest・b─</h1>
<img src="https://pbs.twimg.com/media/DzHf8rZUUAEb8aM.jpg" alt="Kino No Tabi Mori no Naka" style="width: auto; height: 500px;">
<p>そして暗闇[くらやみ]が生[う]まれた。</p>

<p>まったく<span class="tti" dt="光のない = 光るがない. Ici, il décrit 暗闇 de la première ligne.">光のない</span>。</p>

<p>月も星も見えない。</p>

<p>緩[ゆる]やかな風で森がざわめく音だけが、闇を<span class="tti" dt="AようにB = 'B fait comme/semble A'. Ici, 'On n'entend qu'un bruit qui semble décorer l'obscurité...'">飾るように聞[き]こえ</span>*<span class="tti" dt="てくる indique que le son vient vers nous">てくる</span>。

<p>「そうだなあ……。なんとなく、だけれどね……」</p>

<p>ふいに人間[にんげん]の話す声が聞こえた。少年[しょうねん]<span class="tti" dt="A + のような＋ NOM = B qui ressemble à A. Ici, 'Une voix légèrement aiguë qui ressemble à celle d'un jeune garçon.'">のような</span>、そして少[すこ]し高[たか]い声だ。</p>

<p>「なんとなく、だけれど？」</p>

<p>別[べつ]の声が発言[はつげん]を促[うなが]す<span class="tti" dt="A＋ように＋VERBE = 'Faire VERBE comme (pour) A'.'Il a posé la question comme pour le pousser à en dire plus.'">ように</span>聞いた。さらに<span class="tti" dt="感じのする = 感じがする = Donner l'impression/Avoir l'impression">若い感じのする</span>、男の子<span class="tti" dt="A + のような + NOM = Un NOM qui ressemble à A. Ici, 'Une voix qui ressemble à celle d'un garçon.'">のような</span>声だった。</p>

<p>ほんの少し静寂[せいじゃく]があって、最初に聞こえた声が静かに語り出した。<span class="tti" dt="まるで～ような est une version emphatique/plus forte de ～ような. On dirait VRAIMENT.../Il ressemble beaucoup à...">まるで自分に言い聞かすような</span>、誰もいないところへ向[む]かって喋[しゃべ]るような口調[くちょう]だった。</p>

<p>「ボクはね、たまに自分が<span class="tti" dt="Ici, 'Un bon à rien'/'Un incapble'">どうしようもない</span>、愚[おろ]かで矮小[わいしょう]な奴[やつ]<span class="tti" dt="'Ne serait-ce pas ?/N'est-ce pas ?'. Ici, 'Ne serais-je pas...'">ではないか</span>？　ものすごく汚[きたな]い人間ではないか？　<span class="tti" dt="On peut voir cette phrase comme : « 'Pourquoi ?', je ne sais pas. »">なぜだか</span>よく分からないけど、<span class="tti" dt="そう, Fait allusion à ce qui précès. Là où こう fait allusion à ce qui suit">そう</span>感じる時があるんだ。そうとしか思えない時があるんだ……。</p><p>でもそんな時は必[かなら]ず、それ以外[いがい]のもの、たとえば世界[せかい]とか、他[ほか]の人間の生[い]き方とかが、全[すべ]て美[うつく]しく、すてきなもののように感じるんだ。とても、愛[いと]しく思[おも]えるんだよ……。ボクは、それらをもっともっと知[し]りたくて、そのために旅をしているような<span class="tti" dt="Avoir l'impression que...">気がする</span>」</p>

<p>それからほんの少しだけ<span class="tti" dt="間をおく = Laisser passer un moment. ">間をおいて</span>、<span class="tti" dt="こう = Ainsi (ce qui suit)">こう続けた</span>。</p>

<p>「 辛[つら]いことや悲[かな]しいことは、ボクが<span class="tti" dt="以上 = 'Tant que...'. Ici, 'Tant que je voyage...'">旅をしている以上</span>必[かなら]ず、<span class="tti" dt="Partout">行く先々に</span>たくさん転[ころ]がっているものだと思[おも]ってる」</p>

<p>「ふーん」</p>

<p>「さてと。ボクは寝るよ。明日はまただいぶ<span class="tti" dt="(Contraction) Ici, なくちゃ = なくては(いけない) = 'Devoir' = 'On doit rouler' ">走らなくちゃ</span>。……おやすみエルメス」</p>

<p>「おやすみ、キノ」</p>

<p>暗闇に、がさごそと厚[あつ]い布[ぬの]が擦[す]れ合[あ]う音が聞こえ、やがて止[や]んだ。</p>

<style>
    .tti {
      position: relative;
      cursor: pointer;
      
      text-decoration: underline;
      color:rgb(28, 122, 156);
    }
    
    .tti::after {
      content: attr(dt);
      position: absolute;
      background-color: #333;
      color: #fff;
      font-size: 0.8em;
      padding: 5px;
      border-radius: 5px;
      top: 100%; /* Position below the text */
      left: 50%;
     word-wrap: break-word;
      white-space: normal;
      display: none;
      z-index: 10;
      min-width: 250px;
      max-width: 500px;
    }
    
    .ttis::after {
        min-width: auto;
        max-width: none;
    }
    
    .tti:hover::after {
      display: block;
    }
    </style>
    
    
    
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tiny-segmenter@0.2.0/dist/tiny-segmenter-0.2.0.min.js" charset="UTF-8"></script>
<script>
            document.addEventListener("DOMContentLoaded", function () {
                const walker = document.createTreeWalker(document.body, NodeFilter.SHOW_TEXT,   {
                    acceptNode: function (node) {
                    return node.parentNode.nodeName != "SCRIPT" ? NodeFilter.FILTER_ACCEPT:NodeFilter.FILTER_SKIP;
                    },
                },false);
    
                let node;
                const textNodes = [];
                while (node = walker.nextNode()) {
                    textNodes.push(node);
                    console.log(node.nodeValue);   
                }
    
                const segmenter = new TinySegmenter();   
                for(const node of textNodes)
                {
                    const segs = segmenter.segment(node.nodeValue);
                    console.log((segs.join(" | ")));
                    const newText = segs.reduce((acc, curr, i, arr) => {
                        const prev_token = (i > 0) ? arr[i-1]:"";
                        if(curr == '[')
                        {
                            acc += `<ruby>${prev_token}<rt>`;
                        }
                        else if(prev_token == '[')
                        {
                            /* We do nothing */
                        } 
                        else if(curr == ']')
                        {
                            acc += `${prev_token}</rt></ruby>`;
                        }
                        else if(i == arr.length - 1){
                            acc += ((prev_token!=']')?prev_token:"") + curr ;
                        } 
                        else {
                            acc += ((prev_token!=']')?prev_token:"");
                        }
                        return acc;
    
                    }, "");
    
                    if(newText != node.nodeValue)
                    {
                        let span = document.createElement('span');
                        span.innerHTML = newText;
    
                        node.parentNode.replaceChild(span, node);
                    }
                }
            });
</script>
